body {
  font-family: "Roboto";
  width: 100%;
}

h1 {
  font-family: "Shrikhand";
  font-size: 72px;
}

h2 {
  margin-top: 64px;
  font-size: 70px;
}

p {
  font-size: 35px;
}

h3 {
  font-size: 45px;
  margin: 3px;
}

figcaption p {
  font-size: 35px;
  margin: 3px;
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  border-bottom: solid #99e2d0 5px;
  width: fit-content;
  font-size: 40px;
  margin-left: 10px;
}

h5, .price {
  font-weight: bold;
  font-size: 35px;
}

.far {
  font-size: 3em;
}

title-menu {
  text-transform: uppercase;
  border-bottom: 2px solid #99e2d0;
}

footer {
  color: #fff;
}

#noustrouver #explorer {
  width: 100%;
  height: fit-content;
  margin: 0;
  text-align: center;
}

#Fonctionnement button {
  width: 920px;
  height: 150px;
  background-color: #e9e9e9;
  border-radius: 30px;
  border: none;
  margin: 5px;
  font-size: 35px;
  z-index: 0;
}

#Restaurants figure {
  width: 95%;
  height: 780px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 23px;
  border-radius: 20px;
}

.img-menu {
  width: 100%;
  height: 465px;
  object-fit: cover;
}

.title-restaurant {
  background-color: #e9e9e9;
  width: 100%;
  transform: translateY(325px);
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  padding-bottom: 10px;
}

.btn-color {
  width: 700px;
  height: 100px;
  background-color: #9356dc;
  border-radius: 50px;
  margin: 30px;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  margin-bottom: 30px;
}

.btn-color-command {
  margin: 100px;
}

header {
  background-color: white;
  border-bottom: 2px;
  box-shadow: 0px 10px 10px 10px rgba(255, 255, 255, 0.712);
  width: 100%;
}
header figure {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 30px;
}
header figure img {
  width: 450px;
  height: auto;
}
header .fas {
  font-size: 50px;
}
header #header_menu {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 180px;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #333333;
  justify-content: center;
  margin: 5px;
}
footer h1 {
  font-size: 50px;
  margin: 5px;
}
footer p {
  color: #fff;
  margin: 5px;
}
footer p .fas {
  margin-right: 15px;
}
footer p .fa-hands-helping {
  font-size: smaller;
}

#noustrouver #explorer {
  width: 100%;
  height: fit-content;
  margin: 0;
  text-align: center;
}

#Fonctionnement button {
  width: 920px;
  height: 150px;
  background-color: #e9e9e9;
  border-radius: 30px;
  border: none;
  margin: 5px;
  font-size: 35px;
  z-index: 0;
}

#Restaurants figure {
  width: 95%;
  height: 780px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 23px;
  border-radius: 20px;
}

.img-menu {
  width: 100%;
  height: 465px;
  object-fit: cover;
}

.title-restaurant {
  background-color: #e9e9e9;
  width: 100%;
  transform: translateY(325px);
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  padding-bottom: 10px;
}

.btn-color {
  width: 700px;
  height: 100px;
  background-color: #9356dc;
  border-radius: 50px;
  margin: 30px;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  margin-bottom: 30px;
}

.btn-color-command {
  margin: 100px;
}

a {
  text-decoration: none;
  color: black;
}

#noustrouver {
  display: flex;
  flex-direction: column;
}
#noustrouver #localisation {
  display: flex;
  background-color: #e9e9e9;
  justify-content: center;
  font-size: 52px;
}
#noustrouver #explorer {
  background-color: #f2F2F2;
  font: "Roboto" bold 12px;
  margin-top: 65px;
}
#noustrouver #explorer p {
  font-size: 48px;
}
#noustrouver #explorer button .btn-color .btn-color {
  width: 300px;
  height: 60px;
  background-color: #9356dc;
  border-radius: 50px;
  margin: 20px;
  justify-content: center;
}
#noustrouver #explorer span {
  display: block;
}

fas {
  padding-left: 5px;
}

#Fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}
#Fonctionnement button span {
  display: flex;
  justify-content: flex-start;
  background-color: #9356dc;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  text-align: center;
  justify-content: flex-start;
}

#Restaurants {
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
}
#Restaurants figure img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 600px;
}
#Restaurants figure figcaption .far {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

body {
  font-family: "Roboto";
  width: 100%;
}

h1 {
  font-family: "Shrikhand";
  font-size: 72px;
}

h2 {
  margin-top: 64px;
  font-size: 70px;
}

p {
  font-size: 35px;
}

h3 {
  font-size: 45px;
  margin: 3px;
}

figcaption p {
  font-size: 35px;
  margin: 3px;
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  border-bottom: solid #99e2d0 5px;
  width: fit-content;
  font-size: 40px;
  margin-left: 10px;
}

h5, .price {
  font-weight: bold;
  font-size: 35px;
}

.far {
  font-size: 3em;
}

title-menu {
  text-transform: uppercase;
  border-bottom: 2px solid #99e2d0;
}

footer {
  color: #fff;
}

#noustrouver #explorer {
  width: 100%;
  height: fit-content;
  margin: 0;
  text-align: center;
}

#Fonctionnement button {
  width: 920px;
  height: 150px;
  background-color: #e9e9e9;
  border-radius: 30px;
  border: none;
  margin: 5px;
  font-size: 35px;
  z-index: 0;
}

#Restaurants figure {
  width: 95%;
  height: 780px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 23px;
  border-radius: 20px;
}

.img-menu {
  width: 100%;
  height: 465px;
  object-fit: cover;
}

.title-restaurant {
  background-color: #e9e9e9;
  width: 100%;
  transform: translateY(325px);
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  padding-bottom: 10px;
}

.btn-color {
  width: 700px;
  height: 100px;
  background-color: #9356dc;
  border-radius: 50px;
  margin: 30px;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  margin-bottom: 30px;
}

.btn-color-command {
  margin: 100px;
}

.img-menu {
  position: relative;
  z-index: -1;
}

.btn-color .btn-color {
  width: 300px;
  height: 60px;
  background-color: #9356dc;
  border-radius: 50px;
  margin: 20px;
  justify-content: center;
}

.title-restaurant {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-restaurant h1 {
  margin-left: 10px;
  padding-right: 30px;
}
.title-restaurant .far {
  margin-right: 20px;
  padding-right: 30px;
}

section {
  background-color: #e9e9e9;
  margin-bottom: 0;
  margin-top: 40px;
  padding-top: 50px;
}
section article {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 10px #c3c3c3;
  border-radius: 20px;
  width: 880px;
  height: 80px;
  line-height: 1.5;
  margin: 41px;
  padding: 20px;
  margin-right: 10px;
  padding: 15px;
  padding-bottom: 30px;
}
section article h5, section article p {
  margin: 0;
}
section article .ingredients {
  padding: 3px;
  background: #fff;
  display: flex;
  border-color: black;
  box-shadow: 2px #c3c3c3;
}
section article .ingredients-bottom {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
