@import "../Utils/mixins";
@import "../Utils/variables";

footer{
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-family: $font-texte;
    background-color: $footer-backgroundcolor;
    
} 
#footer-logo{
        @include font-logo ;
        color:$footer_colortxt;
    }