@import "../Utils/mixins";
@import "../Utils/variables";

footer{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: $footer-backgroundcolor;
    justify-content: center;
    margin: 5px;
    h1{
        font-size: 50px;
        margin:5px;
    }
    p{
        color: $color-footer;
        margin: 5px;
        
        .fas{
        margin-right: 15px;
    }
        .fa-hands-helping{
            font-size: smaller;
        }
}
    }
    
 
