@import "../Utils/variables";
@import "../Utils/mixins";

header {
  background-color: white;
  border-bottom: 2px;
  width: 100%;
  @include desktop{
    
    height: 80px;
  }
 .header__menu {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 180px;
    @include desktop{
      justify-content: center;
    }
  }
  figure {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 30px;
    img {
      width: 450px;
      height: auto;
      @include desktop{
        width: 200px;
      }
    }
  }
  .fas {
    font-size: 50px;
    @include desktop{
      font-size: 25px;
    }
  }
 
}
