@import "../Utils/variables";

.btn-color{
    width: 750px;
    height: 130px;
    background: $color-gradient;
    border-radius: 100px;
    margin: 30px;
    justify-content: center;
    font-size: 50px;
    color: $color-footer;
    margin-bottom: 30px;
    &:hover{
       filter:opacity(80%);
       transition: opacity 250ms;
       cursor: pointer;
    }
}

.btn-color-command{
    margin:100px;
}