@import "../Utils/variables";
@import "../Utils/mixins";

.btn-color{
    width: 750px;
    height: 130px;
    background: $color-gradient;
    border-radius: 100px;
    margin: 30px;
    justify-content: center;
    font-size: 50px;
    color: $color-footer;
    margin-bottom: 30px;
    @include box-shadow;
    &:hover{
       filter:opacity(80%);
       transition: opacity 250ms;
       cursor: pointer;
       box-shadow: 8px 8px 0px 0px darken($color: #c3c3c3, $amount: 2);
    }
    @include desktop{
        width: 350px;
        height: auto;
        
        font-size: 35px;
    }
}

.btn-color-command{
    margin:100px;
}

