@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@keyframes opacity{
    0%{
        opacity: 0;
    }
    95%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes opacity-reverse{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadein {
    0%{
      opacity:0; 
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity:1;
    }
}

@keyframes slidein {
    0%{
        transform: translateX(-125px);
    }
    100%{
        transform: translateX(0);
    }
}

