@import "../Utils/variables";
@import "../Utils/mixins";

body{
    font-family: "Roboto";
    width: 100%;
    @include medium-screen{
        margin-left: 200px;
        margin-right: 200px;
        width: 80%;
    }
    @include large{
        width:80%;
        margin-left: 400px;
        margin-right: 400px;
        height: 100%;
    }
}

h1{
    font-family: "Shrikhand";
    font-size: 72px;
    @include desktop{
        font-size: 50px;
    }
}

h2{
    margin-top: 20px;
    font-size: 70px;
    margin-left: 20px;
    @include desktop{
        font-size: 35px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
p{
    font-size: 35px;
    text-overflow: ellipsis;
    @include desktop{
        font-size: 25px;
    }
}

h3{
    font-size: 45px;
    margin: 3px;
    @include desktop{
        font-size: 30px;
    }
}
figcaption{
    p{
        font-size: 35px;
        margin: 3px;
    }
}
h4{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    width: fit-content;
    font-size: 40px;
    margin-left: 10px;
    @include desktop{
        font-size: 30px;
    }
    &::after{
        content:"";
        border-bottom: 5px solid $color-tertiary;
        width: 94px;
        display: block;
        padding-top: 3px;
        @include desktop{
            width: 84px;
        }
    }
}

h5, .price{
    font-weight: bold;
    font-size: 35px;
    text-overflow: ellipsis;
}
.far{
    font-size: 3em;
}
title-menu{
    text-transform: uppercase;
    border-bottom: 2px solid $color-tertiary; 
    
}
.new{
    font-weight: bold;
    font-size: 35px;
    @include desktop{
        font-size: 20px;
    }
}
footer{
    color: $color-footer;
}