@import "../Utils/variables";
@import "../Utils/mixins";
@import "../Utils/extensions";
@import "../components/buttons";

a{
  text-decoration: none;
  color: black;
}

#noustrouver {
  display: flex;
  flex-direction: column;

  #localisation {
    display: flex;
    background-color: $color-background2; 
    justify-content: center;
    font-size: 52px;
  }
  #explorer {
    background-color:$color-background1;
    font: $font-h2 ;
    @extend %barre;
    margin-top: 65px;
    p{
      font-size: 19px;
    }
    button .btn-color{
      @include btn-color;
    }
    span {
      display: block;
    }
  }
}
fas {
  padding-left: 5px;
}

#Fonctionnement{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-footer;
  .step{
    background-color: $color-primary;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content: center;
    
  }
  button {
    @extend %box-fonctionnement;
  }
}

#Restaurants{
  display: flex;
  flex-direction: column;
  background-color: $color-background2;
  figure{
    @extend %box-restaurants;
    img{
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    figcaption{
      .far {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
      }
    }
  }
}