@import "../Utils/variables";
@import "../Utils/mixins";
@import "../Utils/extensions";
@import "../components/buttons";


a{
  text-decoration: none;
  color: black;
}

.page{
  animation: opacity 3s ease-out;
}

.loader-page{
  animation: opacity-reverse 3s ease-in forwards;
}

.loader{
  border: 10px solid transparent;
  border-top:  10px solid $color-primary;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: auto;
  position:absolute;
  top:0; right: 0; bottom: 0; left: 0;
  animation: spin 1.7s linear infinite;
  &::after{
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-radius: 50%;
    border-top: 10px solid $color-secondary;
    top:13px; right: 13px; bottom: 13px; left: 13px;
    animation: spin 1.6s linear infinite;
  }
  &::before{
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-radius: 50%;
    border-top: 10px solid $color-tertiary;
    opacity: 0.6;
    top:26px; right: 26px; bottom: 26px; left: 26px;
    animation: spin 1.4s linear infinite;
  }
}

#noustrouver {
  display: flex;
  flex-direction: column;
  padding-top: 0;
 @include desktop{
   background-color: lighten($color: $color-background1, $amount: 0.5);
   margin-top: 20px;
 }
  p{
    font-size: 40px;
  }
 
  #localisation {
    display: flex;
    background-color: $color-background2; 
    justify-content: center;
    font-size: 52px;
    box-shadow: 0px -7px 0px 0px darken($color: $color-background2, $amount: 2);
    @include desktop{
      width:320px;
      height: 50px;
      background-color: $color-tertiary;
      box-shadow: 0px 0px 3px 3Px darken($color: $color-tertiary, $amount: 2);
      border-radius: 50px;
      font-size: 20px;
      align-content: center;
      text-align: center;
      transform: translateY(-120%);
      margin-left: 40px;
      p{
        font-size: 20px;
      }  
    }
    .fas{
      @include center;
      margin-right: 10px;
    }
  }
  #explorer {
    background-color:$color-background1;
    font: $font-h2 ;
    @extend %barre;
    margin-top: 65px;
    @include desktop{
      background: none;
      width: 1200px;
      height: auto;
      margin-top: 10px;
    }
    p{
      font-size: 26px;
      @include desktop{
        font-size: 38px;
        margin: 0px;
      }
    }
    button .btn-color{
      @include btn-color;
    }
    &_br {
      display: block;
      @include desktop{
        display: inline;
      }
    }
  @include desktop{
    width: 100%;
    justify-content: flex-start;
    margin-left: 200px;
  }
  }
}

#Fonctionnement{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-footer;
  @include desktop{
    margin: 5px;
  }
  .fonctionnement-box{
    display: flex;
    flex-direction: column;
    @include desktop{
      flex-flow: row wrap;
    }
  }
  
  button {
    @include center;
    @extend %box-fonctionnement;
    justify-content: center;
    margin-left: 20px;
    .step{
      @include center;
      justify-content: center;
      background-color: $color-primary;
      border-radius: 100%;
      width: 60px;
      height: 60px;
      text-align: center;
      @include tranform-step;
      color:$color-footer;
      @include desktop{
        width: 40px;
        height: 40px;
        font-size: 20px;
        transform:translateX(-80px);
      }     
  }
  .step2{
        transform: translateX(-170px);
        @include desktop{
          transform:translateX(-90px);
        }
      }
  .fas{
    margin-right: 30px;
  }
  }
}

#Restaurants{
  display: flex;
  flex-direction: column;
  background-color: $color-background2;
 
   .restaurants{
     @include desktop{
       display: flex;
       flex-flow:row wrap;
       justify-content: space-around;
       margin:30px;
     }
   }
  figure{
    @extend %box-restaurants;
    
    &:hover{
      cursor: pointer;
    }
    img{
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      width: 100%;
      height: 70%;
      z-index: 0;}
    .new{
        position: absolute;
        background-color: $color-tertiary;
        width: 195px;
        height: 65px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        color:darken($color: $color-tertiary, $amount: 50);
        transform: translateY(-360px);
         
        @include desktop{
         transform:translateY(-180px);
         width: 120px;
         height: auto;

        }    
    }         
    }
    figcaption{
      @include ligne;
      flex-direction: row-reverse;
      width: 100%;
      margin:30px;
      margin-top: 40px;
      @include desktop{
        margin-top:0;
      }
          
      .figcaption-restau{
        @include figcaption-restau; 
        @include desktop{
        margin-top: 0;
        padding-top: 0;
      }
        p{
          font-size: 40px;
          @include desktop{
            font-size: 26px;
          }
        }
      }
     
      .far {
        font-size: 70px;

        @include desktop{
          font-size: 43px;
        }
      }
    }
  }
.fa-heart{
  background-color: transparent;
  transition: color 300ms ease-in;
  &:hover{
    font-weight: bold;
    background-image: $color-gradient;
    color: transparent;
    // background-clip: text;
    -webkit-background-clip: text;
  }
}