@import "../components/buttons";

.img-menu{
    @extend %img-menu;
    position:relative;
    z-index: -1;
}

.btn-color{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h4{
    @extend %title-menu;
}

.title-restaurant{
    position: absolute;
    @extend %title-restaurant;
    z-index: 2;
}