@import "../base/typography";
@import "../Utils/mixins";
@import "../Utils/variables";
@import "../Utils/extensions";
@import "../components/buttons";
@import "../components/keyframes";


.img-menu {
  @extend %img-menu;
  position: relative;
  z-index: -1;
}

.btn-color {
  @include btn-color;
}

.title-restaurant {
  position: absolute;
  @extend %title-restaurant;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__heart-color {
    color: transparent;

    &:hover {
      animation: heart;
    }
  }

  h1 {
    margin-left: 10px;
    padding-right: 30px;
  }
}

section {
  background-color: $color-background2;
  margin-bottom: 0;
  margin-top: 40px;
  padding-top: 50px;
  @include tablet{
    background-color: none;
  }
  
  .menu{
    @include medium-screen{
      display: flex;
      flex-flow: row wrap;
    }
    &__part{
    width: fit-content;
    @include desktop{
      display: flex;
      flex-flow: row wrap;
      h4{
        width: 100%;
      }
      
    }
    }
  }
  
  .ingredients {
    @include colonne;
    background-color: $color-footer;
    box-shadow: 0px 4px 0px 4px #c3c3c3;
    border-radius: 20px;
    width: 880px;
    height: 80px;
    line-height: 1.5;
    margin: 41px;
    padding: 15px;
    margin-right: 10px;
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
    &:hover .ingredients__price{
      transform: translateX(-180px);
    }
    @include desktop{
        width: 600px;
        height: min-content;
    }
    @include medium-screen{
      width: 880px;
      height: 80px;
    }
    h5,
    p {
      margin: 0;
      text-overflow: ellipsis;
    }
         
      @include ingredients;
      &__bottom {
        @include ligne;
        @include center;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &__delay-1{
        
        animation: fadein 200ms both;
        animation-timing-function:ease-in-out; 
        animation-delay: 0s;
      }
      &__delay-2{
        animation: fadein 200ms both;
        animation-timing-function: ease-in-out; 
        animation-delay: 300ms;
      }
      &__delay-3{
        animation: fadein 200ms both;
        animation-timing-function: ease-in-out; 
        animation-delay: 600ms;
      } 
      &__check {
        float : right; position : absolute; top : 0; bottom : 0; right : 0; width : 0;
        transition : width 1s;
        background-color: $color-tertiary;
        display : flex;
        justify-content : center;
        align-items : center;
        align-content : center;
        i {
          display : block;
          opacity : 0;
          transform : rotate(-270deg);
          transition : opacity 1s ease-in-out, transform 1s ease-in-out;
          background-color: #fff;
          color: $color-tertiary;
          border-radius: 50%;
          border-color: $color-tertiary;
          width: 40px;
          height: 40px;
          text-align: center;
          font-size: 20px;
        }
      }
        &:hover .ingredients__check{
          background:  #9ed;
          width: 20%;
        }
        &:hover .ingredients__check i{
            opacity: 1;
            transform : rotate(0deg);
          
        }
        &:hover .ingredients__repas{
          width: 80%;
          text-overflow: ellipsis;
        }
      }


    }
  

