@import "../base/typography";
@import "../Utils/mixins";
@import "../Utils/variables";
@import "../Utils/extensions";
@import "../components/buttons";


.img-menu{
    @extend %img-menu;
    position:relative;
    z-index: -1;
}

.btn-color{
   @include btn-color;

}


.title-restaurant{
    position: absolute;
    @extend %title-restaurant;
    z-index: 2;
    margin: 5px;
    display: flex;
    justify-content: space-between;
//    margin-right: 20px;
    align-items: center;
    h1{
        margin-left: 10px;
    }
    .fas{
        margin-right: 20px;
    }
}
section {
    background-color: $color-background2;
    margin-bottom: 0;
    margin-top: 0;
article{
    display: flex;
    @include colonne;
    line-height: 1em;
    background-color: $color-footer;
    box-shadow: 2px #c3c3c3;
    border: none;
    border-radius: 20px;
    width: 80%;
    height: fit-content;
    line-height: 1;
    margin: 10px;
    padding: 20px;
    margin-right: 10px;
    h5, p{
        margin: 0;
    }
    .ingredients{
        padding: 3px;
        @include ingredients;
      
    } .ingredients-bottom{
            @include ligne;
        }

}
}