@import "../Utils/variables";
@import "../Utils/mixins";

%barre{
    width:  100%;
    height: fit-content;
    margin: 0;
    text-align: center;
    @include desktop{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
    }
}

%box-fonctionnement{
    width: 920px;
    height: 150px;
    background-color: $color-background2;
    border-radius: 30px;
    border: transparent;
    @include box-shadow;
    margin: 30px;
    font-size: $font-size;
    z-index: 0;
    @include desktop{
        width: 380px;
        height: 100px;
    }
    &:hover{
        background-color: lighten($color: $color-primary, $amount: 35);
        cursor: pointer;
        i{
            color: $color-primary;
        }
    }
}

%box-restaurants{
    width: 95%;
    height: 780px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    background-color: $color-footer;
    margin: 23px;
    border-radius: 20px;
    @include box-shadow;
    @include tablet{
     width:50%;  
     height: 50%;
     flex-flow: row wrap; 
     margin: 30px;
    }
    @include desktop{
        width: 380px;
        height: 310px;
        
        object-fit: cover;
        
    }
}

%img-menu{
    width: 100%;
    height: 465px;
    object-fit: cover;
}

%title-restaurant{
    background-color: $color-background2;
    width: 100%;
    transform: translateY(325px);
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    padding-bottom: 10px;
    padding-left: 10px;
}

