@import "../Utils/variables";

@mixin btn-color{
  .btn-color{
    width: 300px;
    height: 60px;
    background-color: $color-primary;
    border-radius: 50px;
    margin:20px;
    justify-content: center;
  }
}

@mixin box-shadow {
  box-shadow: 5px 5px 0px 0px #c3c3c3;
}


@mixin ingredients{
  background: $color-footer;
  display: flex;
  border-color: black;
  box-shadow: 2px #c3c3c3;

}

@mixin ligne{
  display: flex;
  justify-content: space-between;
}

@mixin colonne {
  display: flex;
  flex-direction: column;
}

@mixin center {
  display: flex;
  align-items: center;
  
}

@mixin tranform-step {
  transform: translateX(-155px);
  
}

@mixin figcaption-restau {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  
}