$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-footer:  #fff;
$footer-backgroundcolor: #333333;
$font-logo: "Shrikhand", cursive;
$font-size: 35px;
$font-h2: "Roboto" bold 12px;
$color-background1:#f2F2F2;
$color-background2: #e9e9e9;
